<IfModule mod_rewrite.c>
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^/filmsoptv/api/lists/1$ ./filmsoptv/api/index.php?list=today
RewriteRule ^/filmsoptv/api/lists/1$ ./filmsoptv/api/index.php?list=today
#RewriteRule ^lists/1$ ./index.php?list=today
#RewriteRule ^lists/2$ ./index.php?list=tomorrow

</IfModule>