<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>Films op tv vandaag &amp; morgen</h1>
            </div>
            <div class="col-lg-5 legenda">
              <p>Film recensisten: <i class="icon tiny fresh"></i>Goed - <i class="icon tiny rotten"></i> Slecht</p>
              <p>Beoordeling publiek: <i class="icon tiny popcorn"></i> Goed - <i class="icon tiny spilled"></i> Slecht</p>
            </div>
        </div>
        <hr />

        {{outlet}}

    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
              <p>Bekijk welke films er vandaag en morgen op tv zijn en hoe deze beoordeeld zijn.</p>
              <p class="text-muted credit">Door <a href="http://www.remcoraaijmakers.nl/">Remco Raaijmakers</a>.</p>
            </div>
            <div class="col-lg-6 visible-lg">
                <p><small>Bronnen: <a href="http://www.filmtotaal.nl/">FilmTotaal.nl</a> | <a href="http://www.rottentomatoes.com/">Rotten Tomatoes</a> | <a href="http://www.windows-mediacenter.nl/?page_id=412" rel="nofollow">Zender logo's</a></small></p>
            </div>
        </div>
    </div>
</div>
