<div id="movies-container" class="row">
    <div class="col-lg-6">
      <h2>Vandaag <small id="date-today">{{moviesToday.date}}</small></h2>

      <div id="movies-today">
          {{view 'accordion' content=moviesToday.movies }}
      </div>
    </div>
    <div class="col-lg-6">
      <h2>Morgen <small id="date-tomorrow">{{moviesTomorrow.date}}</small></h2>
      <div id="movies-tomorrow">
          {{view 'accordion' content=moviesTomorrow.movies }}
      </div>
    </div>
</div>
